<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/static/estilo.css" />
    <title>Baraja Flask</title>
</head>

<body>
    <div id="content" clas="text-center">
        <h1>🃏 Juego de la Baraja 🃏</h1>
        <h2> 👤 Jugador 1</h2>
        <div class="renglon">
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta1 }} ">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta1 }} ">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta1 }} ">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta1 }} ">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta1 }} ">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta1 }} ">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta1 }} ">
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="text-center">
        <h2> 👤 Jugador 2</h2>
        <div class="renglon">
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta2 }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta2 }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta2 }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta2 }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta2 }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta2 }}">
                </div>
            </div>
            <div class="columna">
                <div class="card">
                    <img src=" {{ carta2 }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p align="center"><a href="game_on"><button class=grey style="height:45px;width:100px">Jugar</button></a></p>
    </div>
</body>

</html>